__pycache__/
*.pyc
.streamlit/
session.json
chat_history.json
BankBot_Accuracy_Document.docx
generate_accuracy.py
src/
.env
.venv
venv/
env/

# Local OCR Windows Binaries
poppler-24.02.0/
poppler.zip
tesseract-setup.exe
